<div>
    <div class="card-header">
        <h2>Productos</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Producto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>  {{ producto?._id }}  </td>
                    <td>  {{ producto.name }}  </td>
                    <td>  {{ producto.categoria }}  </td>
                    <td>  Editar|Eliminar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>