<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a mat-button routerLink="./agregar"><span>Agregar Producto</span></a>
        <a mat-button routerLink="./listado"><span>Lista Productos</span></a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>